TP Final — Ingeniería de Datos en Microsoft Fabric/DP_ORCHS_Origenes/DP_ORCHS_Origenes.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_config":{"type":"string"},"conn_adventureworks":{"type":"string"},"lh_silver":{"type":"string"},"lh_origin_get_talent":{"type":"string"},"lh_landing":{"type":"string"}},"variables":{},"resources":[{"name":"DP_ORCHS_Origenes","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"Pipeline orquestador maestro — Bloque 1: ejecuta DP_INGST_SilverADVWDB y DP_INGST_SilverSFTP en paralelo. Si ambos exitosos → Bloque 2: ejecuta DP_ORCHS_Gold. Si falla algún origen → fail_origenes detiene todo. Arquitectura según Manual TP: Bloque 1 Orígenes → Bloque 2 Gold.","activities":[{"name":"exec_DP_INGST_SilverADVWDB","description":"Ejecuta pipeline Silver ADVWDB — SalesOrderDetail (incremental) y Product (total). Sin dependencias: corre en paralelo con SFTP.","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"8ea63884-e41b-4f37-8266-b9513bdfcfd2","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"exec_DP_INGST_SilverSFTP","description":"Ejecuta pipeline Silver SFTP — SalesOrderHeader (incremental) y Person (total). Sin dependencias: corre en paralelo con ADVWDB.","type":"ExecutePipeline","dependsOn":[{"activity":"exec_DP_INGST_SilverADVWDB","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"6c64e546-8773-49d5-b91e-f217c511fddc","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"exec_DP_ORCHS_Gold","description":"Bloque 2 — ejecuta DP_ORCHS_Gold solo si ADVWDB y SFTP completaron exitosamente. Dependencia explícita en ambos pipelines de origen (Succeeded). Garantiza que Silver está completo antes de procesar Gold.","type":"ExecutePipeline","dependsOn":[{"activity":"exec_DP_INGST_SilverSFTP","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"e47ef6e7-5733-4d16-86fa-892bb81a34da","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"fail_origenes","description":"Actividad Fail requerida por Manual de Arquitectura TP. Se activa si ADVWDB o SFTP fallan — detiene el pipeline antes de ejecutar Gold. Gold nunca corre sobre Silver incompleto.","type":"Fail","dependsOn":[{"activity":"exec_DP_INGST_SilverADVWDB","dependencyConditions":["Failed"]},{"activity":"exec_DP_INGST_SilverSFTP","dependencyConditions":["Failed"]},{"activity":"exec_DP_ORCHS_Gold","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error en DP_ORCHS_Origenes — revisar Monitor para detalle.","errorCode":"ORIGENES_FAIL"}}],"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-03-10T01:48:20Z"},"dependsOn":[]},{"name":"DP_INGST_SilverADVWDB","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"Pipeline Silver ADVWDB — Lookup config → Filter ADVWDB → ForEach: IfCondition(SalesOrderDetail incremental | Product total) → Copy SQL→lh_silver_staging → nb_silver_ADVWDB.","activities":[{"name":"lk_config_origin_bronze_silver","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}}},{"name":"ft_origin_ADVWDB","type":"Filter","dependsOn":[{"activity":"lk_config_origin_bronze_silver","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('lk_config_origin_bronze_silver').output.value","type":"Expression"},"condition":{"value":"@and(equals(item().origen, 'ADVWDB'), equals(item().activo, 1))","type":"Expression"}}},{"name":"fe_origin_ADVWDB","description":"Itera tablas ADVWDB activas. IfCondition: SalesOrderDetail (incremental) o Product (total).","type":"ForEach","dependsOn":[{"activity":"ft_origin_ADVWDB","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('ft_origin_ADVWDB').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"if_tabla_ADVWDB","description":"SalesOrderDetail=incremental, Product=total","type":"IfCondition","dependsOn":[],"typeProperties":{"expression":{"value":"@equals(item().nombre_tabla, 'SalesOrderDetail')","type":"Expression"},"ifFalseActivities":[{"name":"ca_silver_ADVWDB_Product","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT TOP 1000 * FROM ', item().ubicacion_relativa, '.', item().nombre_tabla, ' ORDER BY ', item().pks)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"ADVWDB","table":"Product_staging"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"nb_silver_ADVWDB_Product","type":"TridentNotebook","dependsOn":[{"activity":"ca_silver_ADVWDB_Product","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"37c7b35f-09cc-4823-9320-90d324b80e9f","workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","parameters":{"origen_param":{"value":"ADVWDB","type":"string"},"nombre_tabla_param":{"value":"Product","type":"string"}},"lakehouseReferences":{"defaultLakehouse":{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}}],"ifTrueActivities":[{"name":"ca_silver_ADVWDB_SalesOrderDetail","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT TOP 1000 * FROM ', item().ubicacion_relativa, '.', item().nombre_tabla, ' WHERE ', item().parametros_incrementales, ' > ''', item().ultimo_valor_incremental, ''' ORDER BY ', item().parametros_incrementales, ' ASC')","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"ADVWDB","table":"SalesOrderDetail_staging"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"nb_silver_ADVWDB_SalesOrderDetail","type":"TridentNotebook","dependsOn":[{"activity":"ca_silver_ADVWDB_SalesOrderDetail","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"e35d0414-3967-4599-a125-88acc440b7e4","workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","parameters":{"origen_param":{"value":"ADVWDB","type":"string"},"nombre_tabla_param":{"value":"SalesOrderDetail","type":"string"}},"lakehouseReferences":{"defaultLakehouse":{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}}]}}]}},{"name":"fa_ingesta_ADVWDB","type":"Fail","dependsOn":[{"activity":"fe_origin_ADVWDB","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error en DP_INGST_SilverADVWDB: fallo en el ForEach de tablas ADVWDB. Revisar Monitor para detalle.","errorCode":"ADVWDB_SILVER_FAIL"}}],"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-03-10T02:41:58Z"},"dependsOn":[]},{"name":"DP_INGST_SilverSFTP","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"Pipeline Silver SFTP — 100%% paramétrico via origin_bronze_silver (lh_config). Lookup → Filter (origen=SFTP, activo=1) → ForEach: [Copy @item().ubicacion_relativa → lh_landing | nb_bronze @item().notebook_bronze_id | nb_silver @item().notebook_silver_id]. Sin hardcodeos de rutas, nombres de tablas ni fechas. Cumple restricciones TP Final.","activities":[{"name":"lk_config_origin_bronze_silver","description":"Lee todas las tablas activas de origin_bronze_silver. firstRowOnly=false.","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}}},{"name":"ft_origin_SFTP","description":"Filtra tablas SFTP activas.","type":"Filter","dependsOn":[{"activity":"lk_config_origin_bronze_silver","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('lk_config_origin_bronze_silver').output.value","type":"Expression"},"condition":{"value":"@and(equals(item().origen, 'SFTP'), equals(item().activo, 1))","type":"Expression"}}},{"name":"fe_origin_SFTP","description":"Itera cada tabla SFTP secuencialmente. Por cada tabla: Copy landing → Bronze → Silver.","type":"ForEach","dependsOn":[{"activity":"ft_origin_SFTP","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('ft_origin_SFTP').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"ca_landing_SFTP_tabla","description":"Copia CSV desde lh_origin_get_talent → lh_landing. Source path y sink path 100% dinámicos desde @item().ubicacion_relativa (config). Sin hardcodeos.","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"LakehouseReadSettings","recursive":false,"wildcardFolderPath":{"value":"@item().ubicacion_relativa","type":"Expression"},"wildcardFileName":"*.csv"},"formatSettings":{"type":"BinaryReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_origin_get_talent","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"0bdeecb9-223f-4ab3-ad5f-608d8c2bb79e","artifactId":"[parameters('lh_origin_get_talent')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation"}}}},"sink":{"type":"BinarySink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_landing","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_landing')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@item().ubicacion_relativa","type":"Expression"}}}}},"enableStaging":false}},{"name":"Wait1","description":"Espera 90s después del Copy para que la sesión Spark de iteraciones previas libere capacidad (evita HTTP 430).","type":"Wait","dependsOn":[{"activity":"ca_landing_SFTP_tabla","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":90}},{"name":"nb_bronze_SFTP","description":"Notebook Bronze SFTP — lee CSV desde lh_landing, todo string, escribe Bronze.","type":"TridentNotebook","dependsOn":[{"activity":"Wait1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":{"value":"@item().notebook_bronze_id","type":"Expression"},"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","lakehouseReferences":{"defaultLakehouse":{"id":"f27e2853-1dca-44d9-94f8-08477a5836ff","name":"lh_landing","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}},{"name":"Wait2","description":"Espera 180s entre nb_bronze y nb_silver para que la sesión Spark anterior libere (evita HTTP 430 en entorno trial Fabric).","type":"Wait","dependsOn":[{"activity":"nb_bronze_SFTP","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":180}},{"name":"nb_silver_SFTP","description":"Notebook Silver SFTP — lee Bronze, tipa, limpia, escribe Silver.","type":"TridentNotebook","dependsOn":[{"activity":"Wait2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":{"value":"@item().notebook_silver_id","type":"Expression"},"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","lakehouseReferences":{"defaultLakehouse":{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"},{"id":"f27e2853-1dca-44d9-94f8-08477a5836ff","name":"lh_landing","type":"LakehouseReference"}]}}}]}},{"name":"fa_ingesta_SFTP","type":"Fail","dependsOn":[{"activity":"fe_origin_SFTP","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error en DP_INGST_SilverSFTP: fallo en el ForEach SFTP.","errorCode":"SFTP_SILVER_FAIL"}}],"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-03-10T01:21:41Z"},"dependsOn":[]},{"name":"DP_ORCHS_Gold","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"Orquestador Gold — Lookup origin_gold → ForEach secuencial por orden. Parametrizado desde lh_config.dbo.origin_gold (sin columna activo — Opción B).","activities":[{"name":"lk_origin_gold","description":"Lee tabla origin_gold desde lh_config. firstRowOnly=false — devuelve todos los notebooks Gold ordenados por 'orden'.","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"origin_gold"}}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"origin_gold"}}}},{"name":"fe_notebooks_gold","description":"Itera cada notebook Gold en orden secuencial. isSequential=true garantiza dim_calendario → dim_cliente → dim_producto → fact_ventas.","type":"ForEach","dependsOn":[{"activity":"lk_origin_gold","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('lk_origin_gold').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"nb_gold","description":"Ejecuta notebook Gold — ID y nombre desde @item().notebook_id","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":{"value":"@item().notebook_id","type":"Expression"},"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","lakehouseReferences":{"defaultLakehouse":{"id":"902f27e9-dd04-40cf-831a-2610a16fb9a7","name":"lh_gold","type":"LakehouseReference"},"additionalLakehouses":[{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}},{"name":"wt_between_notebooks","description":"Wait 90s para liberar sesión Spark antes del siguiente notebook Gold (evita error 430 TooManyRequestsForCapacity)","type":"Wait","dependsOn":[{"activity":"nb_gold","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":90}}]}},{"name":"fail_gold","description":"Captura error del ForEach Gold y detiene el pipeline con error descriptivo.","type":"Fail","dependsOn":[{"activity":"fe_notebooks_gold","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error en DP_ORCHS_Gold: fallo en el ForEach de notebooks Gold. Revisar Monitor para detalle.","errorCode":"GOLD_FAIL"}}],"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-03-10T01:22:57Z"},"dependsOn":[]}]}