TP – Microsoft Fabric Data Engineering/pl_ingst_adw_full_incremental/pl_ingst_adw_full_incremental.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_config":{"type":"string"},"conn_adventureworks":{"type":"string"},"lh_landing":{"type":"string"},"lh_bronze":{"type":"string"}},"variables":{},"resources":[{"name":"pl_ingst_adw_full_incremental","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LKUP_Get_Tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":60},"typeProperties":{"source":{"type":"LakehouseTableSource"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"config","table":"table_load_config"}}}},{"name":"FEACH_Process_Tables","type":"ForEach","dependsOn":[{"activity":"LKUP_Get_Tables","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('LKUP_Get_Tables').output.value","type":"Expression"},"batchCount":5,"activities":[{"name":"CJ_INGST_Dynamic_Table","type":"Copy","dependsOn":[],"policy":{"retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@if(or(empty(item().source_query_template),equals(trim(item().source_query_template),'')),concat('SELECT * FROM ',item().schema_name,'.',item().table_name),replace(replace(item().source_query_template,'@{fecha_desde}',if(empty(pipeline().parameters.fechaDesde),formatDateTime(addDays(utcnow(),-1),'yyyy-MM-dd'),pipeline().parameters.fechaDesde)),'@{fecha_hasta}',if(empty(pipeline().parameters.fechaHasta),formatDateTime(utcnow(),'yyyy-MM-dd'),pipeline().parameters.fechaHasta)))","type":"Expression"},"partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_landing","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_landing')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().table_name,'_',if(equals(item().load_type,'INCREMENTAL'),replace(if(empty(pipeline().parameters.fechaHasta),formatDateTime(utcnow(),'yyyy-MM-dd'),pipeline().parameters.fechaHasta),'-',''),formatDateTime(utcnow(),'yyyyMMdd')),'.parquet')","type":"Expression"},"folderPath":{"value":"@concat('proyecto/fuente/',toLower(item().schema_name),'/',item().table_name,'/',if(equals(item().load_type,'INCREMENTAL'),replace(if(empty(pipeline().parameters.fechaHasta),formatDateTime(utcnow(),'yyyy-MM-dd'),pipeline().parameters.fechaHasta),'-',''),formatDateTime(utcnow(),'yyyyMMdd')))","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"CJ_CONVERTIR_Bronze","type":"Copy","dependsOn":[{"activity":"CJ_INGST_Dynamic_Table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"wildcardFolderPath":{"value":"@concat('proyecto/fuente/', toLower(item().schema_name), '/', item().table_name)","type":"Expression"},"wildcardFileName":"*.parquet","enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_landing","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_landing')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation"},"compressionCodec":"snappy"},"schema":[]}},"sink":{"type":"LakehouseTableSink","tableActionOption":{"value":"@if(equals(item().load_type, 'FULL'), 'Overwrite', 'Append')","type":"Expression"},"upsertSettings":{},"partitionOption":"None","applyVOrder":true,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"bronze","table":{"value":"@concat('br_', toLower(item().schema_name), '_', toLower(item().table_name))","type":"Expression"}}},"writeBehaviorSettings":{"mergeSchema":true}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}},"additionalProperties":{"metadata":{"ingestion_date_ts":"@utcnow()","pl_run_id":"@pipeline().RunId","process_date":"@formatDateTime(utcnow(), 'yyyy-MM-dd')","load_type":"@item().load_type","exercise_number":"@item().exercise_number"}}}}]}},{"name":"CJ_EXTRAER_Metadata_Sales","type":"Copy","dependsOn":[{"activity":"FEACH_Process_Tables","dependencyConditions":["Succeeded"]}],"policy":{"retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT s.name AS schema_name, t.name AS table_name, CASE WHEN t.type = 'U' THEN 'BASE TABLE' WHEN t.type = 'V' THEN 'VIEW' END AS table_type, t.create_date, t.modify_date FROM sys.tables t INNER JOIN sys.schemas s ON t.schema_id = s.schema_id WHERE s.name = 'Sales' ORDER BY t.name;","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_landing","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_landing')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat('sales_tables_', formatDateTime(utcnow(), 'yyyyMMdd'), '.csv')","type":"Expression"},"folderPath":{"value":"@concat('proyecto/metadata/sales_tables/', formatDateTime(utcnow(), 'yyyyMMdd'))","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"parameters":{"fechaDesde":{"type":"string"},"fechaHasta":{"type":"string"},"pl_run_id":{"type":"string","defaultValue":"@pipeline().RunId"}},"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-02-09T00:29:34Z"},"dependsOn":[]}]}