TP Final — Ingeniería de Datos en Microsoft Fabric/BONUS/DP_INGST_SilverSFTP.json
{
    "name": "DP_INGST_SilverSFTP",
    "objectId": "6c64e546-8773-49d5-b91e-f217c511fddc",
    "properties": {
        "description": "Pipeline Silver SFTP — 100%% paramétrico via origin_bronze_silver (lh_config). Lookup → Filter (origen=SFTP, activo=1) → ForEach: [Copy @item().ubicacion_relativa → lh_landing | nb_bronze @item().notebook_bronze_id | nb_silver @item().notebook_silver_id]. Sin hardcodeos de rutas, nombres de tablas ni fechas. Cumple restricciones TP Final.",
        "activities": [
            {
                "name": "lk_config_origin_bronze_silver",
                "description": "Lee todas las tablas activas de origin_bronze_silver. firstRowOnly=false.",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "LakehouseTableSource",
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "lh_config",
                                "properties": {
                                    "annotations": [],
                                    "type": "Lakehouse",
                                    "typeProperties": {
                                        "workspaceId": "9a547f55-a8f7-4c89-b935-fb3da8226ed0",
                                        "artifactId": "bcc2be74-375f-42f1-b1c1-b60b5eef55ef",
                                        "rootFolder": "Tables"
                                    }
                                }
                            },
                            "typeProperties": {
                                "schema": "dbo",
                                "table": "origin_bronze_silver"
                            }
                        }
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "lh_config",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "9a547f55-a8f7-4c89-b935-fb3da8226ed0",
                                    "artifactId": "bcc2be74-375f-42f1-b1c1-b60b5eef55ef",
                                    "rootFolder": "Tables"
                                }
                            }
                        },
                        "type": "LakehouseTable",
                        "schema": [],
                        "typeProperties": {
                            "schema": "dbo",
                            "table": "origin_bronze_silver"
                        }
                    }
                }
            },
            {
                "name": "ft_origin_SFTP",
                "description": "Filtra tablas SFTP activas.",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "lk_config_origin_bronze_silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('lk_config_origin_bronze_silver').output.value",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@and(equals(item().origen, 'SFTP'), equals(item().activo, 1))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "fe_origin_SFTP",
                "description": "Itera cada tabla SFTP secuencialmente. Por cada tabla: Copy landing → Bronze → Silver.",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ft_origin_SFTP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('ft_origin_SFTP').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "ca_landing_SFTP_tabla",
                            "description": "Copia CSV desde lh_origin_get_talent → lh_landing. Source path y sink path 100% dinámicos desde @item().ubicacion_relativa (config). Sin hardcodeos.",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:15:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "LakehouseReadSettings",
                                        "recursive": false,
                                        "wildcardFolderPath": {
                                            "value": "@item().ubicacion_relativa",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*.csv"
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "lh_origin_get_talent",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "0bdeecb9-223f-4ab3-ad5f-608d8c2bb79e",
                                                    "artifactId": "044c9f3e-2bc6-4cac-9157-dcd30ca6d5fd",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Binary",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation"
                                            }
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "lh_landing",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "9a547f55-a8f7-4c89-b935-fb3da8226ed0",
                                                    "artifactId": "f27e2853-1dca-44d9-94f8-08477a5836ff",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Binary",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "folderPath": {
                                                    "value": "@item().ubicacion_relativa",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                },
                                "enableStaging": false
                            }
                        },
                        {
                            "name": "Wait1",
                            "description": "Espera 90s después del Copy para que la sesión Spark de iteraciones previas libere capacidad (evita HTTP 430).",
                            "type": "Wait",
                            "dependsOn": [
                                {
                                    "activity": "ca_landing_SFTP_tabla",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "waitTimeInSeconds": 90
                            }
                        },
                        {
                            "name": "nb_bronze_SFTP",
                            "description": "Notebook Bronze SFTP — lee CSV desde lh_landing, todo string, escribe Bronze.",
                            "type": "TridentNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Wait1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.00:30:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 60,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": {
                                    "value": "@item().notebook_bronze_id",
                                    "type": "Expression"
                                },
                                "workspaceId": "9a547f55-a8f7-4c89-b935-fb3da8226ed0",
                                "lakehouseReferences": {
                                    "defaultLakehouse": {
                                        "id": "f27e2853-1dca-44d9-94f8-08477a5836ff",
                                        "name": "lh_landing",
                                        "type": "LakehouseReference"
                                    },
                                    "additionalLakehouses": [
                                        {
                                            "id": "e9dcb661-05e8-46bd-be1f-a9cb5ee27446",
                                            "name": "lh_bronze",
                                            "type": "LakehouseReference"
                                        },
                                        {
                                            "id": "bcc2be74-375f-42f1-b1c1-b60b5eef55ef",
                                            "name": "lh_config",
                                            "type": "LakehouseReference"
                                        }
                                    ]
                                }
                            }
                        },
                        {
                            "name": "Wait2",
                            "description": "Espera 180s entre nb_bronze y nb_silver para que la sesión Spark anterior libere (evita HTTP 430 en entorno trial Fabric).",
                            "type": "Wait",
                            "dependsOn": [
                                {
                                    "activity": "nb_bronze_SFTP",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "waitTimeInSeconds": 180
                            }
                        },
                        {
                            "name": "nb_silver_SFTP",
                            "description": "Notebook Silver SFTP — lee Bronze, tipa, limpia, escribe Silver.",
                            "type": "TridentNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Wait2",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.00:30:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 60,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": {
                                    "value": "@item().notebook_silver_id",
                                    "type": "Expression"
                                },
                                "workspaceId": "9a547f55-a8f7-4c89-b935-fb3da8226ed0",
                                "lakehouseReferences": {
                                    "defaultLakehouse": {
                                        "id": "4d897e0a-b68c-4840-9910-752862308e5b",
                                        "name": "lh_silver",
                                        "type": "LakehouseReference"
                                    },
                                    "additionalLakehouses": [
                                        {
                                            "id": "e9dcb661-05e8-46bd-be1f-a9cb5ee27446",
                                            "name": "lh_bronze",
                                            "type": "LakehouseReference"
                                        },
                                        {
                                            "id": "bcc2be74-375f-42f1-b1c1-b60b5eef55ef",
                                            "name": "lh_config",
                                            "type": "LakehouseReference"
                                        },
                                        {
                                            "id": "f27e2853-1dca-44d9-94f8-08477a5836ff",
                                            "name": "lh_landing",
                                            "type": "LakehouseReference"
                                        }
                                    ]
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "fa_ingesta_SFTP",
                "type": "Fail",
                "dependsOn": [
                    {
                        "activity": "fe_origin_SFTP",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "typeProperties": {
                    "message": "Error en DP_INGST_SilverSFTP: fallo en el ForEach SFTP.",
                    "errorCode": "SFTP_SILVER_FAIL"
                }
            }
        ],
        "lastModifiedByObjectId": "a834ac00-5cfb-4598-bb1d-4fb3b898fb3a",
        "lastPublishTime": "2026-03-08T23:00:00Z"
    }
}