TP Final — Ingeniería de Datos en Microsoft Fabric/DP_INGST_SilverADVWDB/DP_INGST_SilverADVWDB.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_config":{"type":"string"},"conn_adventureworks":{"type":"string"},"lh_silver":{"type":"string"}},"variables":{},"resources":[{"name":"DP_INGST_SilverADVWDB","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"Pipeline Silver ADVWDB — Lookup config → Filter ADVWDB → ForEach: IfCondition(SalesOrderDetail incremental | Product total) → Copy SQL→lh_silver_staging → nb_silver_ADVWDB.","activities":[{"name":"lk_config_origin_bronze_silver","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_config","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_config')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"origin_bronze_silver"}}}},{"name":"ft_origin_ADVWDB","type":"Filter","dependsOn":[{"activity":"lk_config_origin_bronze_silver","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('lk_config_origin_bronze_silver').output.value","type":"Expression"},"condition":{"value":"@and(equals(item().origen, 'ADVWDB'), equals(item().activo, 1))","type":"Expression"}}},{"name":"fe_origin_ADVWDB","description":"Itera tablas ADVWDB activas. IfCondition: SalesOrderDetail (incremental) o Product (total).","type":"ForEach","dependsOn":[{"activity":"ft_origin_ADVWDB","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('ft_origin_ADVWDB').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"if_tabla_ADVWDB","description":"SalesOrderDetail=incremental, Product=total","type":"IfCondition","dependsOn":[],"typeProperties":{"expression":{"value":"@equals(item().nombre_tabla, 'SalesOrderDetail')","type":"Expression"},"ifFalseActivities":[{"name":"ca_silver_ADVWDB_Product","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT TOP 1000 * FROM ', item().ubicacion_relativa, '.', item().nombre_tabla, ' ORDER BY ', item().pks)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"ADVWDB","table":"Product_staging"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"nb_silver_ADVWDB_Product","type":"TridentNotebook","dependsOn":[{"activity":"ca_silver_ADVWDB_Product","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"37c7b35f-09cc-4823-9320-90d324b80e9f","workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","parameters":{"origen_param":{"value":"ADVWDB","type":"string"},"nombre_tabla_param":{"value":"Product","type":"string"}},"lakehouseReferences":{"defaultLakehouse":{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}}],"ifTrueActivities":[{"name":"ca_silver_ADVWDB_SalesOrderDetail","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT TOP 1000 * FROM ', item().ubicacion_relativa, '.', item().nombre_tabla, ' WHERE ', item().parametros_incrementales, ' > ''', item().ultimo_valor_incremental, ''' ORDER BY ', item().parametros_incrementales, ' ASC')","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2019"},"externalReferences":{"connection":"[parameters('conn_adventureworks')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","artifactId":"[parameters('lh_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"ADVWDB","table":"SalesOrderDetail_staging"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"nb_silver_ADVWDB_SalesOrderDetail","type":"TridentNotebook","dependsOn":[{"activity":"ca_silver_ADVWDB_SalesOrderDetail","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"e35d0414-3967-4599-a125-88acc440b7e4","workspaceId":"9a547f55-a8f7-4c89-b935-fb3da8226ed0","parameters":{"origen_param":{"value":"ADVWDB","type":"string"},"nombre_tabla_param":{"value":"SalesOrderDetail","type":"string"}},"lakehouseReferences":{"defaultLakehouse":{"id":"4d897e0a-b68c-4840-9910-752862308e5b","name":"lh_silver","type":"LakehouseReference"},"additionalLakehouses":[{"id":"e9dcb661-05e8-46bd-be1f-a9cb5ee27446","name":"lh_bronze","type":"LakehouseReference"},{"id":"bcc2be74-375f-42f1-b1c1-b60b5eef55ef","name":"lh_config","type":"LakehouseReference"}]}}}]}}]}},{"name":"fa_ingesta_ADVWDB","type":"Fail","dependsOn":[{"activity":"fe_origin_ADVWDB","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error en DP_INGST_SilverADVWDB: fallo en el ForEach de tablas ADVWDB. Revisar Monitor para detalle.","errorCode":"ADVWDB_SILVER_FAIL"}}],"lastModifiedByObjectId":"a834ac00-5cfb-4598-bb1d-4fb3b898fb3a","lastPublishTime":"2026-03-10T02:41:58Z"},"dependsOn":[]}]}